# Sourcify's database postgres connection
SOURCIFY_POSTGRES_HOST="db"
SOURCIFY_POSTGRES_DB="sourcify"
SOURCIFY_POSTGRES_USER="sourcify"
SOURCIFY_POSTGRES_PASSWORD="sourcify"
SOURCIFY_POSTGRES_PORT=5432

NODE_ENV=development

TEN_RPC_TOKEN=0x13E903F8D78AFB8B43E0FAC7D2CD9339E61E961C
SESSION_SECRET=my_random_secret_123
NODE_LOG_LEVEL=debug